.cartWrapper {
  @include limited;
  @include md {
    display: flex;
  }
  .left{
      @include md {
          flex-basis: 0;
          flex-grow: 1;
          flex-shrink: 1;
          overflow-x: hidden;
          border-right: $linegray;
      }
  }
  .right{
      @include md {
          flex: none;
          width: 25%;
      }
  }
}

.cartControl {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .results {
    font-weight: 500;
  }
  .clearCart {
    height: 40px;
    padding: 8px;
    border: 1px solid $alert;
    border-radius: 6px;
    display: flex;
    align-items: center;
    svg {
      fill: $alert;
      height: 20px;
      margin-right: 8px;
    }
    span {
      color: $alert;
      font-size: 14px;
      font-weight: 500;
    }
  }
}
.announce {
  padding: 16px;
  div {
    border-radius: 6px;
    background: #eee;
    font-size: 14px;
    padding: 16px;
    font-weight: 400;
  }
}
.inCart {
  display: flex;
  flex-direction: column;
  border-top: $linegray;
  .itemheader{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-bottom: $linegray;
    div{
      font-weight: 500;
    }
    .right{
      display: none;
      @include md{display: flex};
      justify-content: space-between;
      width: 40%;
    }
  }
  .item {
    display: flex;
    flex-direction: column;
    @include md{ flex-direction: row;}
    @include md{ justify-content: space-between;}
    border-bottom: $linegray;
    font-size: 14px;
    padding: 16px;
    .infos {
      display: flex;
      justify-content: center;
      @include md{ align-items: space-between;}
      align-items: center;
      margin-bottom: 8px;
      img {
        width: 80px;
        margin-right: 16px;
        @include md{ margin-right: 24px;}
        flex-shrink: 0;
      }
      .name{
        flex-grow: 1;
      }
    }
    .action {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-shrink: 0;
      @include md{margin-left: 40px};
      @include md{width: 40%};
      .price{
        display: none;
        @include md{ display: block;}
        font-weight: 400;
        &::before{
          content: '$';
        }
      }
      .control {
        display: flex;
        @include md{ margin-left: 24px };
        .qtyblock {
          display: flex;
          align-items: center;
          margin-right: 8px;
          select {
            position: relative;
            display: block;
            height: 40px;
            width: 64px;
            padding: 8px;
            text-align: left;
            border-radius: 6px;
            border: $linegray;
            appearance: none;
            background-color: transparent;
          }
          svg {
            height: 16px;
            fill: #666;
            margin-left: -26px;
            overflow: hidden;
          }
        }
        button {
          padding: 8px;
          border-radius: 6px;
          border: $linegray;
          height: 40px;
          display: block;
          @include md{ display: none };
          svg {
            height: 20px;
            fill: #666;
          }
        }
      }
      .total {
        font-weight: 500;
        font-size: 16px;
        @include md{ font-weight: 400; font-size: 14px };
        &::before {
          content: '$';
        }
      }
      .remove{
        display: none;
        @include md{ display: block };
        padding: 4px;
        cursor: pointer;
        svg{
          height: 12px;
        }
      }
    }
  }
}
.checkoutarea {
  display: flex;
  flex-direction: column;
  padding: 16px;
  .checkout {
    @include btn(true);
  }
  .bill {
    padding: 24px 0;
    border-bottom: $linegray;
    h4 {
      font-weight: 500;
      padding-bottom: 16px;
      border-bottom: $linegray;
    }
    div {
      display: flex;
      justify-content: space-between;
      padding: 4px 0;
      .price::before {
        content: '$';
      }
      &:last-child {
        div {
          font-weight: 500;
        }
      }
    }
  }
  .promo {
    h4 {
      font-weight: 500;
      font-size: 14px;
    }
    .promoinput {
      height: 48px;
      border: $linegray;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px;
      font-size: 14px;
      input {
        appearance: none;
        border: none;
        overflow-x: hidden;
      }
      button {
        @include btn(true, 36px);
      }
    }
  }
  .help {
    margin-top: 48px;
    h4 {
      font-weight: 500;
      font-size: 14px;
    }
    div {
      font-size: 14px;
      line-height: 1.6em;
      a {
        text-decoration: underline;
      }
    }
  }
}
