@import './modules';
.mainBanner {
  @include limited;
  .backgroundImage {
    height: 0;
    width: 100%;
    background-image: url('/images/mainbanner_m.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 87.5%;
    @include md {
      background-image: url('/images/mainbanner.jpg');
      padding-top: 45.8%;
    }
  }
}
.notice {
  @include limited;
  @include grid(1, 0);
  article {
    a {
      padding: 8px;
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      @include effect;
      .icon {
        padding: 4px;
        border-radius: 4px;
        margin-right: 16px;
        svg {
          height: 18px;
          fill: #fff;
        }
      }
      .text {
        &::after {
          content: '·';
          font-weight: bold;
          padding: 8px;
        }
      }
      &:hover {
        background: #eee;
        @include effect;
      }
    }
  }
  @include xl {
    @include grid(2);
    margin-top: 24px;
    article {
      border: 1px solid #ddd;
      border-radius: 8px;
    }
  }
}
.shopByMain {
  @include limited;
  @include grid(1);
  padding: 24px;
  h2 {
    font-size: 20px;
    font-weight: 400;
  }
  article {
    width: 100%;
    height: 240px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    margin-bottom: 16px;
    @include effect;
    img {
      width: 100%;
      filter: brightness(1.1);
      @include effect;
    }
    .text {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      left: 24px;
      bottom: 16px;
      svg {
        height: 32px;
        fill: $color1;
      }
      h3 {
        position: relative;
        font-size: 22px;
        font-weight: 600;
        @include effect(0.3s);
        &::after {
          position: absolute;
          content: '';
          background: $color1;
          width: 0;
          height: 3px;
          bottom: -8px;
          left: 0;
          @include effect(0.3s, $f-expo);
        }
      }
      span {
        font-size: 14px;
      }
    }
    &:hover {
      box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
      transition: all 0.2s ease;
      img {
        width: 105%;
        transition: all 0.2s ease;
      }
      .text {
        h3 {
          font-size: 24px;
          @include effect(0.3s);
          &::after {
            width: 110%;
            @include effect(0.3s, $f-expo);
          }
        }
      }
    }
  }
  @include md {
    @include grid(2);
    h2 {
      text-align: center;
      grid-column: 1 / 3;
      font-size: 26px;
    }
    article {
      height: 200px;
      margin-bottom: 0;
    }
  }
  @include xl {
    @include grid(4);
    h2 {
      grid-column: 1 / 5;
    }
    article {
      border: 1px solid #ddd;
      height: 296px;
    }
  }
}
.wideBanner {
  margin: 32px 0;
  a {
    position: relative;
    text-decoration: none;
    .backgroundImage {
      width: 100%;
      height: 0;
      padding-top: 50.5%;
      position: relative;
      background-image: url('/images/perfect.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      @include effect;
      h2 {
        position: absolute;
        width: 160px;
        top: 48px;
        left: 24px;
        font-size: 40px;
        font-weight: 600;
        color: #fff;
        text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
      }
    }
    &:hover {
      .backgroundImage {
        filter: brightness(1.2);
        @include effect;
      }
    }
  }
  @include md {
    a {
      .backgroundImage {
        padding-top: 0;
        height: 400px;
        position: relative;
        background-attachment: fixed;
        h2 {
          width: auto;
          position: relative;
          text-align: center;
          font-size: 64px;
          top: 152px;
          left: 0;
        }
      }
    }
  }
}
.promotion {
  padding: 0 24px;
  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
    h2 {
      position: relative;
      text-align: center;
      font-size: 32px;
      font-weight: 400;
      &::after {
        position: absolute;
        content: '';
        background: $color1;
        width: 70%;
        height: 3px;
        bottom: -16px;
        left: 15%;
        @include effect(0.3s, $f-expo);
      }
    }
    div {
      width: 60%;
      text-align: center;
    }
  }
  .items{
    @include itemGrid;
  }
}

