@mixin sm {
  @media (min-width: $sm+'px') {
    @content;
  }
}
@mixin md {
  @media (min-width: $md+'px') {
    @content;
  }
}
@mixin lg {
  @media (min-width: $lg+'px') {
    @content;
  }
}
@mixin xl {
  @media (min-width: $xl+'px') {
    @content;
  }
}

@mixin grid($column: 12, $gap: 8px) {
  display: grid;
  grid-template-columns: repeat($column, minmax(0,1fr));
  gap: $gap;
}

@mixin effect($s:0.2s,$f:ease){
  transition: all $s $f;
}

@mixin hover-shadow{
  @include effect;
  &:hover {
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
  }
}

@mixin limited{
  margin: 0 auto;
  @include lg {
    width: $lg-content;
  }
  @include xl {
    width: $xl-content;
  }
}

@mixin btn($bg:true,$height:40px){
  text-align: center;
  height: $height;
  border: $linegray;
  border-radius: $radius;
  font-size: 14px;
  font-weight: 500;
  padding: 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  @if $bg{
    background: #222;
    color: #fff;
    border: none;
  }
}