@import './mixin';

@mixin itemGrid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 200px);
  @include md{ grid-template-columns: repeat(3, 240px) };
  @include lg{ grid-template-columns: repeat(4, 224px) };
  @include xl{ grid-template-columns: repeat(4, 280px) };
  gap: 16px;
  .item {
    .image {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f7f9fb;
      border-radius: $radius;
      height: 200px;
      @include md{ height: 240px };
      @include lg{ height: 224px };
      @include xl{ height: 280px };
      img { height: 90% };
    }
    .info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;
      padding: 4px;
      .name {
        font-size: 14px;
        width: 60%;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.2em;
        height: 2.4em;
      }
      .price {
        font-size: 18px;
        font-weight: 600;
        &:before {
          content: '$';
          vertical-align: top;
          margin-right: 4px;
        }
      }
    }
  }
}

@mixin itemGrid2 {
  display: flex;
  justify-content: center;
  width: 408px;
  @include md{ width: 736px };
  @include lg{ width: 796px };
  @include xl{ width: 1144px };
  
  .item {
    margin-right: 8px;
    &:last-child{
      margin-right: 0;
    }
    .image {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f7f9fb;
      border-radius: $radius;
      width: 200px;
      height: 200px;
      @include md{ width: 240px; height: 240px };
      @include lg{ width: 260px; height: 260px };
      @include xl{ width: 280px; height: 280px };
      img { height: 90% };
    }
  }
}

@mixin itemFlex {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 416px;
  @include sm{ width: 528px };
  @include md{ width: 703px };
  @include lg{ width: 634px };
  @include xl{ width: 881px };
  .item {
    width: 50%;
    margin-bottom: 8px;
    @include md{ width: 33.333333% };
    @include lg{ width: 50% };
    @include xl{ width: 33.333333%; height: 331px; };
    a{ display: flex; flex-direction: column; align-items: center;};
    .image {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f7f9fb;
      border-radius: $radius;
      width: 200px;
      height: 200px;
      @include sm{ width: 256px; height: 256px };
      @include md{ width: 229px; height: 229px };
      @include lg{ width: 309px; height: 309px };
      @include xl{ width: 283px; height: 283px };
      img { height: 90% };
      .price {
        font-size: 14px;
        position: absolute;
        left: 8px;
        bottom: 8px;
        z-index: 2;
        &:before {
          content: '$';
          vertical-align: top;
          margin-right: 4px;
        }
      }
      .quickInfo{
        position:absolute;
        z-index: 5;
        top:0;
        left:0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transform: translateY(0);
        @include effect;

        display: flex;
        flex-direction: column;
        padding: 24px 16px;
        font-size: 12px;
        line-height: 1.3em;
        @include lg{
          padding: 40px 32px;
          font-size: 14px;
        }
        .name{
          color: #444;
          font-weight: 500;
        }
        p{
          color: #777;
          overflow: hidden;
          text-overflow: ellipsis;
        }

      }
      &:hover{
        img{
          filter: blur(12px) brightness(130%) contrast(.9);
        }
        .quickInfo{
          transform: translateY(8px);
          opacity: 1;
        }
      }
      
    }
   
    .info {
      max-width: 90%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 48px;
      padding: 4px;
      overflow: hidden;
      .name {
        width: 90%;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      
    }
  }
}