.header{
  .mobileSearchWrapper{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .mobileSearch{
      position: relative;
      width: 95%;
      .mobileSearchInput{
        width: 100%;
        border: none;
        padding: 5px 10px;
        border-radius: 15px;
        &:checked + svg{
          fill: blue;
        }
      }
      svg{
        position: absolute;
        right: 12px;
        top: 6px;
        fill: #666;
        height: 22px;
      }
    }
  }
}

.occasion {
  @include grid(2);
  @include md {
    @include grid(3);
  }
  @include lg {
    @include grid(6);
  }
  padding: 10px;
  .list {
    height: 50px;
    line-height: 50px;
    text-indent: 10px;
    background: #dddddd;
    border-radius: 7px;
  }
}

.shopby {
  padding: 10px;
  .tabs {
    @include grid(3);
    .tab {
      height: 50px;
      line-height: 50px;
      text-indent: 10px;
      background: #dddddd;
      border-radius: 2px;
    }
  }
}
