$color1 : rgba(247,64,123,1.0);
$black : #0a0a0a;

//effect
$f-expo : cubic-bezier(1.000, 0.000, 0.000, 1.000);

//responsive
$sm : 576;
$md : 768;
$lg : 992;
$xl : 1200;

$lg-content: 960px;
$xl-content: 1180px;