<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.webServer>
    <webSocket enabled="false" />
    <handlers>
    <add name="iisnode" path="app.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
    <rules>
        <rule name="DynamicContent">
        <action type="Rewrite" url="app.js"/>
        </rule>
    </rules>
    </rewrite>
    <security>
    <requestFiltering>
        <hiddenSegments>
        <remove segment="bin"/>
        <add segment="node_modules" />
        </hiddenSegments>
    </requestFiltering>
    </security>
    <httpErrors existingResponse="PassThrough" />
	<iisnode watchedFiles="*.js;node_modules\*;routes\*.js;views\*.html;web.config" nodeProcessCommandLine="C:\Program Files\nodejs\node.exe"/>
</system.webServer>
</configuration>