{% set title = "Search result - keyword" %} {% extends "layout.html" %} {% block content %}
<nav class="location">Home / Birthday</nav>
<h2 class="listHeader">Birthday</h2>
<div class="filterSummary">
  <div class="mobileFilter">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
      <path
        d="M472.83 81.65V20a20 20 0 10-40 0v61.65c-22.81 8.22-39.17 30.08-39.17 55.68s16.36 47.47 39.17 55.69V492a20 20 0 1040 0V193.02c22.81-8.22 39.17-30.08 39.17-55.69s-16.36-47.46-39.17-55.68zm-20 74.85c-10.57 0-19.17-8.6-19.17-19.17s8.6-19.17 19.17-19.17 19.17 8.6 19.17 19.17-8.6 19.17-19.17 19.17zM276 318.98V20a20 20 0 10-40 0v298.98c-22.81 8.22-39.17 30.08-39.17 55.69s16.36 47.46 39.17 55.68V492a20 20 0 1040 0v-61.65a59.27 59.27 0 0039.17-55.68A59.27 59.27 0 00276 318.98zm-20 74.86c-10.57 0-19.17-8.6-19.17-19.17s8.6-19.17 19.17-19.17 19.17 8.6 19.17 19.17-8.6 19.17-19.17 19.17zM79.17 81.65V20a20 20 0 10-40 0v61.65C16.36 89.87 0 111.72 0 137.33s16.36 47.47 39.17 55.69V492a20 20 0 1040 0V193.02c22.81-8.22 39.17-30.08 39.17-55.69s-16.36-47.46-39.17-55.68zm-20 74.85C48.6 156.5 40 147.9 40 137.33s8.6-19.17 19.17-19.17 19.17 8.6 19.17 19.17-8.6 19.17-19.17 19.17z"
      />
    </svg>
    <span>filter</span>
  </div>
</div>
<section class="itemview">
<div class="filters">
<form action="" id="itemfilter">
    <div class="priceRanges"></div>
    <div class="flowers"></div>
    <div class="colors"></div>
</form>
</div>
  <div class="items">
    <div class="item">
      <a href="">
        <div class="image">
          <img
            src="https://img.teleflora.com/images/o_0/l_flowers:T20T210A,pg_6/w_272,h_340,cs_no_cmyk,c_pad,g_south/f_auto,q_auto:eco,e_sharpen:200/flowers/T20T210A/Teleflora'sRusticSunriseBouquet"
            alt="Teleflora's Rustic Sunrise Bouquet Bouquet"
          />
        </div>
        <div class="info">
          <div class="name">Hello Autumn Bouquet</div>
          <div class="price">47.49</div>
        </div>
      </a>
    </div>
    <div class="item">
      <a href="">
        <div class="image">
          <img
            src="https://img.teleflora.com/images/o_0/l_flowers:T20T210A,pg_6/w_272,h_340,cs_no_cmyk,c_pad,g_south/f_auto,q_auto:eco,e_sharpen:200/flowers/T20T210A/Teleflora'sRusticSunriseBouquet"
            alt="Teleflora's Rustic Sunrise Bouquet Bouquet"
          />
        </div>
        <div class="info">
          <div class="name">Hello Autumn Bouquet</div>
          <div class="price">47.49</div>
        </div>
      </a>
    </div>
    <div class="item">
      <a href="">
        <div class="image">
          <img
            src="https://img.teleflora.com/images/o_0/l_flowers:T20T210A,pg_6/w_272,h_340,cs_no_cmyk,c_pad,g_south/f_auto,q_auto:eco,e_sharpen:200/flowers/T20T210A/Teleflora'sRusticSunriseBouquet"
            alt="Teleflora's Rustic Sunrise Bouquet Bouquet"
          />
        </div>
        <div class="info">
          <div class="name">Hello Autumn Bouquet</div>
          <div class="price">47.49</div>
        </div>
      </a>
    </div>
    <div class="item">
      <a href="">
        <div class="image">
          <img
            src="https://img.teleflora.com/images/o_0/l_flowers:T20T210A,pg_6/w_272,h_340,cs_no_cmyk,c_pad,g_south/f_auto,q_auto:eco,e_sharpen:200/flowers/T20T210A/Teleflora'sRusticSunriseBouquet"
            alt="Teleflora's Rustic Sunrise Bouquet Bouquet"
          />
        </div>
        <div class="info">
          <div class="name">Hello Autumn Bouquet</div>
          <div class="price">47.49</div>
        </div>
      </a>
    </div>
    <div class="item">
      <a href="">
        <div class="image">
          <img
            src="https://img.teleflora.com/images/o_0/l_flowers:T20T210A,pg_6/w_272,h_340,cs_no_cmyk,c_pad,g_south/f_auto,q_auto:eco,e_sharpen:200/flowers/T20T210A/Teleflora'sRusticSunriseBouquet"
            alt="Teleflora's Rustic Sunrise Bouquet Bouquet"
          />
        </div>
        <div class="info">
          <div class="name">Hello Autumn Bouquet</div>
          <div class="price">47.49</div>
        </div>
      </a>
    </div>
    <div class="item">
      <a href="">
        <div class="image">
          <img
            src="https://img.teleflora.com/images/o_0/l_flowers:T20T210A,pg_6/w_272,h_340,cs_no_cmyk,c_pad,g_south/f_auto,q_auto:eco,e_sharpen:200/flowers/T20T210A/Teleflora'sRusticSunriseBouquet"
            alt="Teleflora's Rustic Sunrise Bouquet Bouquet"
          />
        </div>
        <div class="info">
          <div class="name">Hello Autumn Bouquet</div>
          <div class="price">47.49</div>
        </div>
      </a>
    </div>
    <div class="item">
      <a href="">
        <div class="image">
          <img
            src="https://img.teleflora.com/images/o_0/l_flowers:T20T210A,pg_6/w_272,h_340,cs_no_cmyk,c_pad,g_south/f_auto,q_auto:eco,e_sharpen:200/flowers/T20T210A/Teleflora'sRusticSunriseBouquet"
            alt="Teleflora's Rustic Sunrise Bouquet Bouquet"
          />
        </div>
        <div class="info">
          <div class="name">Hello Autumn Bouquet</div>
          <div class="price">47.49</div>
        </div>
      </a>
    </div>
    <div class="item">
      <a href="">
        <div class="image">
          <img
            src="https://img.teleflora.com/images/o_0/l_flowers:T20T210A,pg_6/w_272,h_340,cs_no_cmyk,c_pad,g_south/f_auto,q_auto:eco,e_sharpen:200/flowers/T20T210A/Teleflora'sRusticSunriseBouquet"
            alt="Teleflora's Rustic Sunrise Bouquet Bouquet"
          />
        </div>
        <div class="info">
          <div class="name">Hello Autumn Bouquet</div>
          <div class="price">47.49</div>
        </div>
      </a>
    </div>
  </div>
</section>

{% endblock %}
