{% set title = "Teleflora - itemname" %} {% extends "layout.html" %} {% block content %}
<nav class="location">
  <div class="wrapper">
    <div class="address"><a href="">Home</a> / <a href="">Birthday</a></div>
    <div class="now">{{item.name}}</div>
  </div>
</nav>
<div class="gridWrapper">
  <section class="itemImage">
    <div class="image">
      <img src="{{item.imgLink}}" alt="{{item.name}}" />
    </div>
  </section>
  <section class="iteminfo">
    <div class="title">{{item.name}}</div>
    <div class="description">
      <p>{{item.desc}}</p>
      <p>{{item.summary}}</p>
    </div>
    <div class="price">{{item.price}}</div>
  </section>
  <section class="buyModule">
    <div class="amount">
      <input type="number" id="amount" value="1" max="9" />
      <div class="controller">
        <a href="" class="up"
          ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 612">
            <path
              d="M604.5 440.5L325.4 134.97c-5.33-5.36-12.42-7.63-19.39-7.27-6.99-.36-14.05 1.9-19.38 7.27L7.5 440.5c-10 10.02-10 26.3 0 36.32s26.22 10.03 36.22 0l262.3-287.16 262.26 287.16a25.57 25.57 0 0036.22 0c10-10.02 10-26.3 0-36.32z"
            />
          </svg>
        </a>
        <a href="" class="down">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 612">
            <path
              d="M604.5 134.78a25.53 25.53 0 00-36.22 0L306.01 422.56 43.72 134.78c-10-10.05-26.22-10.05-36.22 0s-10 26.35 0 36.4l279.1 306.24a25.25 25.25 0 0019.39 7.3 25.22 25.22 0 0019.38-7.3L604.5 171.15a25.8 25.8 0 000-36.37z"
            />
          </svg>
        </a>
      </div>
    </div>
    <button class="addCart" data-name="{{item.name}}" data-price="{{item.price}}" data-img="{{item.thumb}}">Add to Cart</button>
    <div class="cartPreview">
      <div class="closeBtn">
        <button>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 365.7 365.7">
            <path
              d="M243.19 182.86L356.32 69.73a31.98 31.98 0 000-45.25L341.24 9.4a31.98 31.98 0 00-45.25 0L182.86 122.53 69.73 9.37a31.98 31.98 0 00-45.25 0L9.38 24.46a31.99 31.99 0 000 45.25l113.15 113.15L9.4 295.99a31.98 31.98 0 000 45.25l15.08 15.08a31.98 31.98 0 0045.25 0l113.13-113.13 113.13 113.13a31.99 31.99 0 0045.25 0l15.08-15.08a31.99 31.99 0 000-45.25zm0 0"
            />
          </svg>
        </button>
      </div>
      <h4>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path
            d="M256 0C114.84 0 0 114.84 0 256s114.84 256 256 256 256-114.84 256-256S397.16 0 256 0zm129.75 201.75L247.08 340.41a21.28 21.28 0 01-30.16 0l-69.33-69.33a21.3 21.3 0 010-30.16 21.3 21.3 0 0130.16 0L232 295.17l123.59-123.58a21.3 21.3 0 0130.16 0 21.31 21.31 0 010 30.16zm0 0"
          />
        </svg>
        Added to Cart
      </h4>
      <div class="thisitem">
        <div class="imgbg">
          <img src="{{item.thumb}}" alt="{{item.name}}" />
        </div>
        <div class="info">
          <div class="name">{{item.name}}</div>
          <span class="price">{{item.price}}</span>
          <span class="qty"><span class="howMany"></span></span>
        </div>
      </div>
      <div class="btns">
        <a href="/cart" class="goCart">View Cart (<span class="cartAmount"></span>)</a>
        <a href="" class="goCheck">Checkout</a>
      </div>
    </div>
  </section>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/scripts/iteminfo.js"></script>
{% endblock %}
