<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>teleflora</title>
    <link rel="stylesheet" href="/styles/normalize.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
  </head>
  <body>
    <header class="header">
      <div class="foldMenuBtn"></div>
      <div class="logo"></div>
      <div class="menu">
        <div class="left">
          <ul class="mainMenu">
            <li class="birthday">Birthday</li>
            <li class="getwell">Get Well</li>
            <li class="shopby">Shop BY</li>
            <li class="occasion">Occasion</li>
          </ul>
        </div>
        <div class="right">
          <ul class="subMenu">
            <div class="searchBar"></div>
            <div class="login"></div>
          </ul>
        </div>
      </div>
      <div class="cartBtn"></div>
    </header>
    <div class="foldMenu">
        <div class="login"></div>
        <div class="folderSearch"></div>
        <ul class="foldMainMenu">
            
        </ul>
    </div>
    {% block content %} {% endblock %}
  </body>
</html>
